@model LaNostraRubrica.Web.Models.HomeIndexVM

@{
    ViewBag.Title = "La nostra rubrica";
}

<header>
    <h1>La nostra rubrica</h1>
</header>

<nav>
    <ul>
        <li><a href="@Url.Action("Index", new { Query = Model.Query})">TUTTI</a></li>
        @foreach (var g in Model.Gruppi)
        {
            <li><a href="@Url.Action("Index", new { gruppoId = g.Id, Query = Model.Query })">@g.Nome</a></li>
        }
    </ul>
</nav>

<form action="@Url.Action("Index")" method="get">
    <fieldset>
        <legend>Cerca contatto</legend>
        @Html.EditorFor(m => m.Query)
    </fieldset>
    <input type="hidden" name="gruppoId" value="@Model.Gruppo_Id" />
    <input type="submit" value="Cerca" />
</form>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Recapito</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var p in Model.Persone)
        {
            <tr>
                <td>@p.NomeCompleto</td>
                <td>@p.RecapitoPrincipale</td>
            </tr>
        }
    </tbody>
</table>
